# Dependencies
node_modules/
/dist
/tmp

# Optional npm cache files
.npm

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Testing and coverage
/coverage
.nyc_output

# Editors
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db